/* Variables CSS */
:root {
  --color-primario: #fff;
  --color-secundario: #3ed88e;
  --color-borde: #ccc;
}

/* Reset de estilos */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Estilos globales */
body {
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: #fff;
  color: #333;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid var(--color-borde);
}

.logo img {
  width: 100px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0; 
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
}

i{
  color: var(--color-secundario);
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

h1, h2, h3, p {
  margin-bottom: 10px;
}

footer {
  background-color: var(--color-secundario);
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  z-index: 1000;
  width: 100%;
}

/* Otros estilos */
.btn {
  display: inline-block;
  background-color: var(--color-secundario);
  color: var(--color-primario);
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
}

section > ul > li {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid var(--color-borde);
  text-align: center;
  border-radius: 9px;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit; /* o el color que desees */
  text-decoration: none; /* o el estilo de subrayado que desees */
}

a:hover{
  text-decoration: underline;
}

#filtros {
  background-color: #f2f2f2;
  padding: 20px;
  width: 250px;
  float: left;
  margin-bottom: 20px;
}

#filtros label { 
  width: 100px; 
  margin-right: 10px;
}

#filtros input[type="number"],
#filtros select {
  width: calc(100% - 110px); 
  margin-right: 10px; 
  margin-bottom: 10px; 
}

#buscar-precio, #limpiar-filtros {
  display: inline-block; 
  margin-bottom: 10px; 
}

#productos {
  margin-left: 280px;
}

#vacio {
  display: none;
}

li {
  transition: transform 0.3s;
}

li:hover {
  transform: scale(1.1);
}

@media (max-width: 375px) {
  section > ul > li {
      width: calc(100% - 20px); 
  }
}

@media (min-width: 376px) and (max-width: 768px) {
  section > ul > li {
      width: calc(50% - 20px); 
  }
}

@media (max-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
  }

  #filtros { 
      padding: 20px;
    width: 100%;
  }
  
  #productos{
    margin-left: 0px;
  }
}